@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
    background: #34495e;
      font-family:'Montserrat',sans-serif;
}
.wrapper{
    width:1170px;
    margin:2% auto;

}
.section-header{
    text-align:center;
    margin-bottom:30px;
}
.section-header h1{
    text-transform:uppercase;
    margin:0;
    color:#fff;
    font-size:45px;
    letter-spacing:5px;
    font-family: 'Oswald', sans-serif;

}
.team-member{
    width:20%;
    height:auto;
    float:left;
    box-shadow:5px 5px 15px #000;
    position:relative;
    display:block;
    overflow:hidden;
    padding:24px;
    text-align:center;
    margin:0 5px;
    background: #112457;
}
.team-member img{
    width:100%;
}
.team-member h3{
    margin:0;
    text-transform:uppercase;
    font-size:25px;
    color:#fff;
    font-family: 'Oswald', sans-serif;
}
.team-member p{
    color:#fff;
}
.team-member:before{
    position:absolute;
    content:'';
    left:0;
    bottom:0;
    height:4px;
    width:100%;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent;
    box-sizing:border-box;
    transform:translatex(100%);
}
.team-member:after{
    position:absolute;
    content:'';
    left:0;
    bottom:0;
    height:4px;
    width:100%;
    border-top:4px solid transparent;
    border-right:4px solid transparent;
    box-sizing:border-box;
    transform:translatex(-100%);
}
.team-member:hover:before{
    border-color:#d04f81;
    height:100%;
    transform:translatex(0);
    transition: .3s transform linear,.3s height linear .3s;
}
.team-member:hover:after {
    border-color: #d04f81;
    height: 100%;
    transform: translatex(0);
    transition: .3s transform linear, .3s height linear .5s;
}